/* GENERIC RULES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header, main, footer{
  width: 70%;
  margin: auto;
}

/* SPECIFIC RULES */

/* header */
header img{
  height: 80px;
}

header ul{
  margin: 40px 0;
  font-size: 15px;
}

header li{
  display: inline;
  color: grey;
  font-weight: 500;
  margin: 0 10px;
}

li:first-child{
  margin-left: 0;
}

/* first section */
.first{
  height: 450px;
  border-radius: 10px;
  background-image: url('../img/banner.jpg');
  background-position: center;
  margin-bottom: 20px;
  position: relative;
}

.layover{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  border-radius: 10px;
}

.text{
  width: 60%;
  color: white;
  position: absolute;
  bottom: 0;
  padding: 50px;
}

h1{
  font-size: 30px;
  font-weight: 500;
}

/* second section */
#title div{
  font-size: 30px;
  font-weight: 700;
}

#title span{
  color: grey;
  font-size: 15px;
}

.imgs{
  width: 100%;
  padding-top: 100%;
  position: relative;
}

main img{
  height: 100%;
  border-radius: 10px;
  position: absolute;
  top: 0;
  background-size: cover;
}

main p{
  color: grey;
}

.section-title{
  font-weight: 700;
  margin: 20px 0;
}

.second{
  background-color: blue;
}

.second div, aside{
  background-color: lightblue;
}

.container{
  width: 20%;
  min-height: 300px;
  float: left;
  margin: 2% 0;
}

div.container{
  width: 56%;
  margin: 2%;
}

.second::after{
  content: "";
  display: table;
  clear: both;
}

/* footer */
footer{
  height: 80px;
  background-color: purple;
}
