/* GENERIC RULES */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header, main, footer{
  width: 70%;
  margin: auto;
}

/* SPECIFIC RULES */
header img{
  height: 80px;
}

header ul{
  margin: 40px 0;
  font-size: 15px;
}

header li{
  display: inline;
  color: grey;
  font-weight: 500;
  margin: 0 10px;
}

li:first-child{
  margin-left: 0;
}

.first{
  height: 200px;
  background-color: yellow;
  margin-bottom: 20px;
}

.second{
  background-color: blue;
}

.second::after{
  content: "";
  display: table;
  clear: both;
}

.second div, aside{
  background-color: lightblue;
}

#title{
  height: 80px;
}

.container{
  width: 20%;
  height: 300px;
  float: left;
  margin: 5% 0;
}

div:nth-of-type(2){
  width: 50%;
  margin: 5% calc(100% - 95%);
}

footer{
  height: 80px;
  background-color: purple;
}
